//@import обязательно указывается расширение .css

@import "_base";
@import "_menu";
@import "_drop";
@import "_icon";
@import "m-style";
@import "smart-grid";
@include reset();

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

a {text-decoration: none;}

.text-center {
  text-align: center;
}

main {
    padding: 80px 0;
}
h1 {
    font-family: Ubuntu;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text;
  }
/* =======================================  btn ============================================= */
.btn {
    overflow: visible;
    color: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,background-position,border-color,box-shadow;
    background-origin: border-box;
}

.btn-def {
    color: $color2;
    border: 2px solid #fe7902;
}

/* =======================================  Header ============================================= */

.header {
	z-index: 111111;

}
.topL {
	background: $color1;
	

}
.container {
	@include wrapper;
	z-index: 2;

}
.topL {
	height: auto;
}
.row-between {
	@include row-flex;
	@include col();
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.topL-left__ul,
.topL-rigt__ul,
.nav__ul {
	list-style: none;
	display: flex;

	a {
		display: block;
		padding-right: 30px;

		&:last-child {
			padding-right: 0;
		}
		
		&:hover,
		&:active {
			color: $color2;
		}
	}
}

.nav__ul {
    
    a {
        font-size: 18px;
        line-height: 80px;
        color: $color-text;
        transition: .1s ease-in-out;
        transition-property: color,background-color,border-color,box-shadow;
        position: relative;
        z-index: 1;
        font-weight: 700;
    }
}

.topL-left__ul,
.topL-rigt__ul {

	a {
		line-height: 50px;
		color: $colorW;
	}
}

/* =======================================  vcard ============================================= */

.vcard {
	display: flex;
	color: $muted;
	font-size: 1.3em;
}

.workhours i {
	display: block;
    font-style: normal;
    font-size: 10px;
	text-align:right;

	span {
		font-size: 12px;
	}
}

span.locality,
span.onlain {
	display: block;
	font-size: 9px;
	text-transform: uppercase;
}

.tel {
	font-size: 24px;
    font-weight: 400;
    color: $color-text;
	letter-spacing: 1px;

	/*&:before {                       // разделитель
		content: "";
	    width: 1px;
	    background-color: $colorW;
	    display: inline-block;
	    height: 16px;
	    margin-right: 30px;
	    vertical-align: middle;
	}*/
}

.icon-caret-down {
	font-size: 12px;
	padding-left: 3px;
}

/* =======================================  Menu  ============================================= */

.nav {
    @include row-flex;
    @include col();
    justify-content: flex-end;
}



/* Cover
	======================= */
.cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	z-index: 0;

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		background-color: transparentize($colorW,.2);
		z-index: -1;
	}
}

/* baner - главная
	======================= */


.baner-1 {
	position: absolute;
	background-color: transparentize($color1,.2);
	top: 50%;
	margin-top: -160px;
	margin-left: -15px;
	height: 351px;
	width: 50%;
	max-width: 551px;
}

.row {
	@include row-flex();
    @include md(justify-content, center);
}

.col-3 {
	@include col();
    @include size(4);
    @include size-md(12);
}